<div class="col-12 col-md-9">

  <div class="blogpost card m-3">
    <div class="card-header">
      <span class="h3 blogpost-title d-block">{{blogpost_title_link blogpost}}</span>
    <span class="h5 card-subtitle">by {{user_link blogpost.user}}
      <span class="title-date">{{format_date blogpost.createdAt}}</span>
    </span>
    {{#each blogpost.tags as |tag|}}{{tag_link tag}}{{/each}}
  </div>
    <div class="card-body">
      {{blogpost.body}}
    </div>
    <div class="card-footer">
      <span class="comment-count">
      {{#if blogpost.commentCount}}
      {{blogpost_page_comment_count blogpost}}
      {{else}}
      0 Comments
      {{/if}}
      </span>
    </div>
  </div>
  <div class="comment-form-box card m-3 p-1">
    <div class="card-body">
  {{#if logged_in}}
    <form id="add-comment-form" data-blogpostId="{{blogpost.id}}">
      <div class="form-group">
        <label for="comment-textarea">Add a comment!</label>
        <textarea class="form-control" id="comment-textarea" rows="3"></textarea>
       <div class="invalid-feedback">
          Comment must not be blank
        </div>
      </div>
      <button type="submit" id="submit-comment" class="btn">Post My Comment</button>
    </form>
  {{else}}
    <form id="add-comment-form">
      <div class="form-group">
        <textarea class="form-control" id="comment-textarea" rows="3"></textarea>
      </div>
      <div role='button' id="login-btn" class="btn">Log in to add a comment!</div>
    </form>
  {{/if}}
  </div>
</div>
  {{#if blogpost.commentCount}}
  <div id="comments" class="comments-block card m-3">
    <ul class="list-group list-group-flush">
    {{#each comments as |comment|}}
    <li class="list-group-item comment" id="comment-item-{{comment.id}}">
      {{#if comment.isUserComment}}
         <button class="icon edit btn" data-commentId="{{comment.id}}" aria-label="edit comment"><img src="/images/edit.svg" alt="null"></button>
          <button class="icon delete btn" data-commentId="{{comment.id}}" aria-lable="delete comment"><img src="/images/delete.svg" alt="null"></button>
      {{/if}}
      <span class="h6 comment-user-link">{{user_link comment.user}}
        <span class="comment-date">{{format_date comment.createdAt}}</span>
        :</span>
      <div id="comment-{{comment.id}}" class="comment-body">{{comment.body}}</div>
    </li>
    {{/each}}
    </ul>
  </div>
  {{/if}}

</div>

{{#if logged_in}}
<script src="/js/commentForm.js"></script>
{{else}}
<script>
  const loginBtn = document.getElementById("login-btn");
loginBtn.addEventListener("click",function() {
  location.href="/login";
})
</script>
{{/if}}