<div class="col-12 col-md-9">

  <div class="blogpost card m-3">
    <div class="card-header">
      <span class="h3 blogpost-title d-block">{{blogpost_title_link blogpost}}</span>
    <span class="h5 card-subtitle">by {{user_link blogpost.user}}</span>
    {{#each blogpost.tags as |tag|}}{{tag_link tag}}{{/each}}
  </div>
    <div class="card-body">
      {{blogpost.body}}
    </div>
    <div class="card-footer">
      {{blogpost_comment_link blogpost}}
    </div>
  </div>
  {{#if blogpost.commentCount}}
  <div class="comments-block card m-3">
    <ul class="list-group list-group-flush">
    {{#each comments as |comment|}}
    <li class="list-group-item comment">
      <span class="h6 comment-user-link">{{user_link comment.user}}:</span>
      <p>{{comment.body}}</p>
    </li>
    {{/each}}
    </ul>
  </div>
  {{/if}}
  <div class="comment-form-box">
    <form id="add-comment-form">

    </form>
  </div>

</div>
