<div class="col-12 col-md-9">

  <div class="blogpost card m-3">
    <div class="card-header">
      <span class="h3 blogpost-title d-block">{{blogpost_title_link blogpost}}</span>
    <span class="h5 card-subtitle">by {{user_link blogpost.user}}</span>
    {{#each blogpost.tags as |tag|}}{{tag_link tag}}{{/each}}
  </div>
    <div class="card-body">
      {{blogpost.body}}
    </div>
    <div class="card-footer">
      <span class="comment-count">
      {{#if blogpost.commentCount}}
      {{blogpost_page_comment_count blogpost}}
      {{else}}
      0 Comments
      {{/if}}
      </span>
    </div>
  </div>
  <div class="comment-form-box card m-3 p-1">
  {{#if logged_in}}
    <form id="add-comment-form">
      <div class="form-group">
        <label for="comment-textarea">Add a comment!</label>
        <textarea class="form-control" id="comment-textarea" rows="3"></textarea>
      </div>
       <div class="invalid-feedback">
          Comment must not be blank
        </div>
      <button type="submit" class="btn submit-btn">Post My Comment</button>
    </form>
  {{else}}
    <form id="add-comment-form">
      <div class="form-group">
        <textarea class="form-control" id="comment-textarea" rows="3" disabled></textarea>
      </div>
      <div class="login-btn submit-btn btn">Log in to add a comment!</div>
    </form>
  {{/if}}
  </div>

  {{#if blogpost.commentCount}}
  <div id="comments" class="comments-block card m-3">
    <ul class="list-group list-group-flush">
    {{#each comments as |comment|}}
    <li class="list-group-item comment">
      <span class="h6 comment-user-link">{{user_link comment.user}}:</span>
      <p>{{comment.body}}</p>
    </li>
    {{/each}}
    </ul>
  </div>
  {{/if}}

</div>

<script src="/js/commentForm.js"></script>

