<div class="col-12 col-md-9">

  <div class="blogpost card m-3 text-light bg-dark">
    <div class="card-header bg-secondary">
      {{blogpost_title_link blogpost}}
      {{user_link blogpost.user}}
      {{#each blogpost.tags as |tag|}}{{tag_link tag}}{{/each}}
    </div>
    <div class="card-body">
      {{blogpost.body}}
    </div>
    <div class="card-footer bg-secondary">
      {{blogpost_comment_link blogpost}}
    </div>
  </div>

</div>
