


<div class="col-12 col-md-9">

<nav aria-label="blogpost page navigation" >
  <ul class="pagination justify-content-end m-3">
    {{pagination blogpostCount page}}
  </ul>
</nav>

  <!-- Loop over each object in the blogposts array -->
{{#each blogposts as |blogpost| }}
<div class="blogpost card m-3">
  <div class="card-header">
   <span class="h3 blogpost-title d-block">{{blogpost_title_link blogpost}}</span>
    <span class="h5 card-subtitle">by {{user_link blogpost.user}}
       <span class="title-date">{{format_date blogpost.createdAt}}</span>
    </span>
    {{#each blogpost.tags as |tag|}}{{tag_link tag}}{{/each}}
  </div>
  <div class="card-body homepage">
    {{blogpost.body}}
  </div>
  <div class="card-footer">
    <span class="comment-count">
    {{blogpost_comment_count_link blogpost}}
    </span>
  </div>
</div>
{{/each}}

<nav aria-label="blogpost page navigation" >
  <ul class="pagination justify-content-end m-3">
    {{pagination blogpostCount page}}
  </ul>
</nav>
</div>