<div class="col-12">
  <div class="card">
    <div class="card-body">
    <form id="edit-post-form" data-blogpostId="{{blogpost.id}}">
      <div class="form-group">
        <label for="blogpost-title">Title:</label>
        <input type="text" class="form-control" id="blogpost-title" value="{{blogpost.title}}"></input>
       <div class="invalid-feedback">
          Title must not be blank
        </div>
      </div>
      <div class="form-group">
        <label for="blogpost-body">Body</label>
        <textarea class="form-control" id="blogpost-body" rows="5">{{blogpost.body}}</textarea>
       <div class="invalid-feedback">
          Post body must not be blank.
        </div>
      </div>
      <div class="form-row">
        <div class="col-12"  id="tag-list">
          {{#each tags as |tag|}}
          <span id="badge-{{tag.id}}" class="{{#unless tag.isBlogpostTag}}d-none{{/unless}} badge badge-pill badge-{{tag_color tag.id}}">{{tag.tagName}}</span>
          {{/each}}
        </div>
        {{#each tags as |tag|}}
          <div class="col-auto">
            <div class="form-check">
            <input class="form-check-input" type="checkbox" id="tag-{{tag.id}}" data-tagId="{{tag.id}}" {{#if tag.isBlogpostTag}}checked{{/if}}>
            <label class="form-check-label" for="tag-{{tag.id}}">
              {{tag.tagName}}
            </label>
          </div>
        </div>
        {{/each}}
      </div>
      <button type="submit" id="submit-post" class="btn">Update</button>
      <div id="post-status" class="btn d-none">posting....</div>
    </form>
    </div>
  </div>
</div>

    <script src="/js/editpost.js"></script>